body {
  margin-top: 0px;
  padding: 0;
  font-family: $font-family;
  font-size: 100%;
  line-height: 150%;
}

a,
a:hover {
  color: $link-base-color;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  a,
  a:hover {
    color: $link-highlight-color;
  }
}

#main {
  width: 60%;
  margin: 0 auto;

  .propic {
    width: 275px;
    height: 275px;
    float: left;
    margin: 20px 40px 20px 20px;
    border-radius: 100%;
  }
}

#main-wide {
  width: 70%;
  margin: 0 auto;
}

#nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;

  a {
    text-decoration: none;
    color: $link-base-color;
  }

  #nav-btns-wrap {
    display: flex;
  }

  .link-after {
    content: "";
    display: flex;
    height: 0.1em;
    background: black;
    opacity: 50%;
  }

  .nav-link {
    margin: 0px 10px;
    &::after {
      @extend .link-after;
      width: 0;
      transition: width 0.35s;
    }
    &:hover::after {
      width: 100%;
    }

    &.active::after {
      width: 100%;
      opacity: 100%;
    }
  }
}

#content-left {
  text-align: left;
  margin: auto;
  padding-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#content {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#footer {
  text-align: center;
  margin: auto;
  font-size: 0.8em;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #000;

  .icons-wrap {
    display: flex;
    justify-content: center;
    margin: 10px 0px;

    .icon_link {
      font-size: 3em;
      margin: 0px 15px;
      color: $grey;

      &:hover {
        color: black;
      }
    }
  }
}

#logo {
  text-align: center;
  margin: 20px auto 20px auto;
}

#logo img {
  max-width: 50%;
}

#content-left a:link,
#content-left a:visited {
  text-decoration: underline;
}

#content-left a:hover {
  text-decoration: none;
}

@media screen and (max-width: $screen-xl-min) {
  #title-text {
    font-size: 2rem;
    text-align: center;
  }

  #nav .nav-link {
    margin: 0px !important;
  }
}

@media screen and (max-width: $screen-md-min) {
  #main {
    width: auto;
    margin: 0 auto;
    padding: 10px;
  }

  #logo,
  #nav,
  #content-left,
  #footer {
    display: block;
    width: 100%;
  }

  #title-text {
    margin-bottom: 20px;
    text-align: center;
  }

  #nav {
    // font-size: 1.5em;
    #nav-btns-wrap {
      justify-content: center;
    }
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }
}

@media screen and (max-width: 400px) {
  #main {
    width: auto;
    margin: 0 auto;
    padding: 10px;
  }

  #logo,
  #nav,
  #content-left,
  #footer {
    display: block;
    width: 100%;
  }

  #logo img {
    max-width: 80%;
  }

  #nav {
    font-size: 1.1em;
    padding-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}
