<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
    <div id="main">
      {% include logo.html %} {% include nav.html %}
      <div id="content-left">
        <div id="post" class="markdown">
          <h1>{{ page.title }}</h1>
          <i>posted on {{ page.date | date: "%-d %b %Y" }}</i>
          <br />
          <br />
          {{ content }} {% if page.categories.size > 0 %}
        </div>
        <div id="categories">
          <p>
            <b>Tags:</b>&nbsp; {% for category in page.categories %}
            <a href="{{site.url}}{{site.baseurl}}/categories/{{category}}/"
              >#{{category}}</a
            >&nbsp; {% endfor %}
          </p>
        </div>
        {% endif %} {% if site.disqus_username and page.comments or
        site.comments %}
        <div id="disqus_thread"></div>
        <!-- /#disqus_thread -->
        {% include disqus-comments.html %} {% endif %}
      </div>
      <!-- Load KaTeX -->
      {% include footer.html %}
    </div>
  </body>
</html>
